.dailyValue {
    border-radius: 24px;
    background-color: rgba(138, 141, 147, 0.05);
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.1);
    padding: 15px 5px;
    font-family: Rubik, sans-serif;
    max-width: 500px;
    width: 100%;
    align-items: center;
    justify-self: center;
  }
  
  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    color: rgba(117, 117, 117, 1);
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 0 10px;
  }

  .expandButton {
    background: none;
    border: none;
    cursor: pointer;
    padding: 5px;
  }
  
  .expandIcon {
    width: 18px;
    height: 18px;
  }
  
  .values {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-self: center;
width: 100%;
align-items: center;
  }
  
  .firstRow,
  .secondRow {
    display: flex;
    justify-content: space-around;;
    align-items: start;
    min-width: 300px;
    max-width: 500px;
    width: 79%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .secondRow {
    display: none;
  }

  .secondRow.show {
    display: flex;
  }
  
  .weatherValue {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 80px;
  }
  
  .weatherIcon {
    width: 15px;
    height: 15px;
  }
  
  .valueContent {
    margin-top: 8px;
    text-align: center;
    justify-items: center;
  }
  
  .mainValue {
    display: flex;
    align-items: flex-end;
    gap: 2px;
    font-weight: 600;
    letter-spacing: 0.2px;
  }
  
  .value {
    font-size: 18px;
    line-height: 0.8;
    color: rgba(117, 117, 117, 1);
  }
  
  .unit {
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    color: rgba(97, 97, 97, 1);
  }

  .label{
    font-size: 10px;
    font-weight: 300;
    line-height: 1;
    color: rgba(97, 97, 97, 1);
    margin-top: 7px;
  }
  
  .minMaxValues {
    display: flex;
    flex-direction: row; /* Change to column to stack image and text */
    align-items: center; /* Center align items */
    gap: 5px;
    margin-top: 5px;
    font-size: 10px;
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    letter-spacing: 0.14px;
    place-content: center;
  }
  
  .maxValue,
  .minValue {
    display: flex;
    flex-direction: column; /* Change to column to stack image and text */
    align-items: center; /* Center align items */
    gap: 2px;
  }
  
  .minMaxIcon {
    width: 6px;
    height: 10px;
  }

  .minMaxLabel {
    font-size: 8px; /* Smaller font size for the label */
    color: rgba(117, 117, 117, 1);
    font-weight: 400;
    letter-spacing: 0.14px;
    text-align: center; /* Center align text */
  }

  /* Force the second row to be shown when toggled, even on mobile */
.secondRow.show {
  display: flex;
}

.specialWeatherWidget {
  background-color: rgba(0, 123, 255, 0.1); /* Light blue background */
  border: 1px solid rgba(0, 123, 255, 0.3); /* Blue border */
  margin-bottom: 30px;
}
  
  @media (max-width: 1200px) {
    .secondRow {
      transition: opacity 0.3s ease-in-out;
    }
  }

  @media screen and (min-width: 1024px) {
    .dailyValue {
      min-width: 800px;
      padding: 20px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    
    .firstRow,
    .secondRow {
      display: flex;
      justify-content: space-between;
      gap:20px;
      max-width: none;
      width: 100%;
    }

    .values{
      flex-direction: row;
      gap: 50px;
      width: 90%;
      display: flex;
      justify-content: space-between;
    }

    .secondRow {
      display: flex; /* Display second row by default */
    }

    .expandButton{
      display: none;
    }

    .header{
      justify-content: center;
    }

    .weatherIcon{
      width: 20px;
      height: 20px;
    }

  }

  @media screen and (min-width: 450px) {
    /* .firstRow,
    .secondRow {
      width: 79%;
    } */
  }



