.weatherContainer {
    min-width: 300px;
    max-width: 700px;
    align-items: center;
    letter-spacing: 0.2px;
    display: flex;
    flex: 1;
    gap: 10px;
  }
  
  .statContainer {
    display: flex;
    min-width: 60px;
    flex-direction: column;
    align-items: center;
    justify-content: start;
  }
  
  .statIcon {
    aspect-ratio: 1;
    object-fit: contain;
    object-position: center;
    width: 25px;
  }
  
  .statContent {
    display: flex;
    margin-top: 8px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .statValue {
    font-size: 18px;
    font-weight: 600;
  }
  
  .statLabel {
    font-size: 10px;
    font-weight: 400;
    margin-top: 4px;
  }

  .windContainer {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;
    flex-wrap: wrap;
    row-gap: 15px;
  }
  
  .windValues {
    display: flex;
    flex-direction: column;
    gap: 15px;
    flex-wrap: wrap;
    min-width: 100px;
  }

  .uvTitle {
    font-size: 18px;
    font-weight: 400;
    line-height: 1.4;
    margin: 0;
  }
  
  .uvContent {
    display: flex;
    margin-top: 15px;
    width: 100%;
    align-items: center;
    gap: 40px 50px;
    justify-content: center;
  }

  .statUnit {
    font-size: 10px; /* Smaller font size */
    font-weight: 400; /* Normal weight */
    margin-left: 2px; /* Add some space between value and unit */
      }



      @media screen and (min-width: 768px) {
        .weatherContainer {
          /* justify-content: space-around; */
          min-width: 350px;
        }
        .windContainer {
          flex-wrap: nowrap;
        }

        .statValue{
          font-size: 22px;
        }
        .statLabel{
          font-size: 12px
        }
    
        .statIcon{
          width: 30px;
        }
        .statUnit{
          font-size: 10px;
        }

      }

      @media screen and (min-width: 425px) {
        .weatherContainer {
          min-width: 350px;
        }
        .windValues {
          min-width: 150px;
        }
      }

      
      @media screen and (max-width: 426px) {
        .weatherContainer {
          min-width: 200px;
        }

        .statContent {
          margin-top: 4px;
        }
        .statIcon{
          width: 20px;
        }
      }

