.weatherPage {
        display: flex;
        flex-direction: column;
        font-family: Rubik, sans-serif;
        letter-spacing: 0.2px;
        margin: 0 auto;
        padding: 0px 25px 75px 25px;
        overflow: visible;
      }
      