.fulmini1 {
  margin: 0;
  align-self: stretch;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}

.vectorIcon {
  width: 57.5px;
  height: 77.5px;
}

.distanza,
.km,
.vectorIcon {
  position: relative;
}

.distanza {
  display: inline-block;
  min-width: 80px;
}

.km {
  align-self: stretch;
  font-size: var(--font-size-xl);
  text-align: center;
}

.distanzaParent {
  width: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: var(--gap-8xs);
}

.b,
.conteggio {
  align-self: stretch;
  position: relative;
  align-self: center;
}

.conteggio {
  display: inline-block;
}

.b {
  font-size: var(--font-size-xl);
}

.conteggioParent {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: var(--gap-8xs);
  text-align: center;
}

.frameParent,
.fulmini {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.frameParent {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  text-align: left;
  font-size: var(--font-size-mid-6);
  z-index: 999999;
  background-color:#36566F;
  color: yellow;
  padding: 0px 5px 5px 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.fulmini {
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: var(--br-mini);
  background-color: #2F4F4F; /* Grigio scuro per migliorare il contrasto */
  flex-direction: column;
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-13xl);
  color: black; /* Bianco per un miglior contrasto */
  font-family: var(--font-helvetica-rounded);
  
  grid-column: span 2; /* Occupa due colonne nella griglia */
  grid-row: span 1;    /* Occupa una riga nella griglia */
}

.lightningMap {
  position: relative;
 width: 100%;
  height: 100%;  /* Imposta un'altezza fissa o al 100% */
  min-height: 200px;
}


@media screen and (max-width: 975px) {
  .fulmini {
    width: 100%;
  }
  .fulmini1 {
    font-size: var(--font-size-7xl);
  }
  .lightningMap {
    height: 300px;
  }
}

@media screen and (max-width: 725px) {
  .fulmini {
    min-height: auto;
  }
}

@media screen and (max-width: 450px) {
  .fulmini1 {
    font-size: var(--font-size-lgi);
  }

  .b,
  .km {
    font-size: var(--font-size-base);
  }

  .frameParent {
    flex-wrap: wrap;
  }

  .fulmini {
    width: 100%;
    gap: 25px;
  }

  .vectorIcon {
    width: 40px;
    height: 40px;
  }
}
