.pm25Container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #696969; /* Grigio scuro */
  border-radius: var(--br-mini);
  min-width: 250px;
  min-height: 290px;
  box-sizing: border-box;
  width: 100%;
  grid-column: span 1; /* Occupa una colonna nella griglia */
  grid-row: span 1;    /* Occupa una riga nella griglia */
}

.pm25Title {
  align-self: stretch;
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: #FFD700; /* Giallo brillante per il titolo PM 2.5 */
}

.pm25Icon {
  width: 125px;
  height: 125px;
  object-fit: cover;
}

.pm25Details {
  display: flex;
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}

.aqiValue,
.pm25Value {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: #32CD32; /* Verde brillante per i valori AQI e PM 2.5 */
}

.label {
  font-weight: bold;
  color: #4682B4; /* Azzurro scuro per le etichette */
}

.value {
  font-size: var(--font-size-mid-6);
  color: #FFD700; /* Giallo brillante per il valore */
}

@media screen and (max-width: 450px) {
  .pm25Container {
    width: 100%;
    gap: 25px;
  }

  .pm25Icon {
    width: 60px;
    height: 60px;
  }
}
