.pressureDetails {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }
  
  .pressioneLabel {
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
  }
  
  .hpa {
    font-size: 1.2rem;
    font-weight: bold;
    color: #FFD700;
  }
  .iconTemperature {
    flex-direction: column;
    padding: 0 29px;
  }
  .hpa,
.pressione {
  position: relative;
  line-height: 150.55%;
  display: inline-block;
  min-width: 99px;
}
.pressureDetails{
  max-width: 300px;
}
.hpa {
  min-width: 57px;
}
  