.chartContainer {
  background-color: rgba(15, 15, 17, 0.5); /* Grigio scuro per migliorare il contrasto */
  grid-column: span 3; /* Occupa tre colonne nella griglia */
  grid-row: span 1;    /* Occupa una riga nella griglia */
  margin: 0 auto; /* Centrato orizzontalmente */
  border-radius: 20px; /* Angoli arrotondati */
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25); /* Ombra per l'effetto di sollevamento */
  width: 100%; /* Occupa tutta la larghezza disponibile */
  position: relative; /* Necessario per il posizionamento */
  align-content: center;
}

@media screen and (max-width: 725px) {
  .chartContainer {
    width: 100%; /* Riduce la larghezza su schermi piccoli per migliorare la responsività */
    height: 350px; /* Altezza adattata per schermi piccoli */
    grid-column: span 1; /* Occupa una colonna nella griglia su schermi piccoli */
    grid-row: span 1;    /* Occupa due righe nella griglia su schermi piccoli */

  }
}

