.uvContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-6xl);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  background-color: #696969; /* Grigio scuro */
  border-radius: var(--br-mini);
  box-sizing: border-box;
  width: 100%;
  height: 100%; /* Assicura che l'elemento si espanda per riempire il contenitore */
  grid-column: span 2; /* Occupa due colonne nella griglia */
  grid-row: span 1;    /* Occupa una riga nella griglia */
  min-width: 300px;
}

.uvTitle {
  text-align: center;
  font-size: var(--font-size-xl);
  font-weight: bold;
  color: #FFD700; /* Giallo brillante per il titolo UV */
}

.uvIcon {
  width: 66.7px;
  height: 60px;
  object-fit: cover;
}

.uvDetails {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: var(--gap-xl);
}

.uvValue,
.radiationValue {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: var(--font-size-sm);
  color: #32CD32; /* Verde brillante per i valori UV e la radiazione */
}

.label {
  font-weight: bold;
  color: #4682B4; /* Azzurro scuro per le etichette */
}

.value {
  font-size: var(--font-size-mid-6);
  color: #FFD700; /* Giallo brillante per il valore */
}

@media screen and (max-width: 450px) {
  .uvContainer {
    width: 100%;
    gap: 25px;
  }

  .uvIcon {
    width: 40px;
    height: 40px;
  }
}
